<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <div class="create-msg">
      <form action="/new" method="post">
        <label for="user">From:</label>
        <input type="text" id="user" name="user" maxlength="20" required />
        <label for="message">Message:</label>
        <textarea
          id="message"
          name="message"
          maxlength="200"
          required
        ></textarea>
        <button type="submit">Submit</button>
        <button type="button" id="cancelBtn">Cancel</button>
      </form>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
      document
        .getElementById("cancelBtn")
        .addEventListener("click", function () {
          window.location.href = "/";
        });
    </script>
  </body>
</html>
